<!DOCTYPE html>
<html lang="en">
<head>
	<title>Script | {{ page.title }} </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="theme-color" content="#EEEEEE">
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<a href="http://gh.jwronline.be/jwr-shuttle/">back</a>
	{{content}}
</body>
</html>